{% set ensemble_facet = ensemble|default("variant_label") %}
{% set ensembles = stores|map("attr", "attrs")|sum(start=[])|selectattr("name", "eq", ensemble_facet)|map("attr", "value")|unique|sort %}
<?xml version="1.0" encoding="UTF-8"?>
<netcdf xmlns="http://www.unidata.ucar.edu/namespaces/netcdf/ncml-2.2">
    <attribute name="size" type="int" value="{{ stores|map('attr', 'size')|sum|int }}"/>
    <attribute name="size_human" value="{{ stores|map('attr', 'size')|sum|filesizeformat(binary=True) }}"/>
    <variable name="{{ ensemble_facet }}" shape="{{ ensemble_facet }}" type="string">
        <attribute name="standard_name" value="realization"/>
        <attribute name="_CoordinateAxisType" value="Ensemble"/>
    </variable>

    <aggregation type="joinNew" dimName="{{ ensemble_facet }}">
        {% for a in aggregations %}
        <variableAgg name="{{ a }}"/>
        {% endfor %}
        {% for ensemble in ensembles %}
        <netcdf coordValue="{{ ensemble }}">
            <aggregation type="union">
            {% for a in aggregations %}
            {% set subset = stores|map("attr", "attrs")|sum(start=[])|selectattr("name", "eq", ensemble_facet)|selectattr("value", "eq", ensemble)|map("attr", "store")|map("attr", "variables")|sum(start=[])|selectattr("name", "eq", a)|map("attr", "store")|sort(attribute="name")|unique|list %}
            {% if subset|length > 0 %}
                <netcdf>
                    {% set agg_dim_name = subset|map("attr", "variables")|sum(start=[])|selectattr("name", "eq", a)|first|attr("dimensions")|selectattr("index", "eq", 0)|first|attr("scales")|first|attr('name') %}
                    {% set reference_attrs = subset|first|attr("variables")|selectattr("name", "eq", agg_dim_name)|first|attr("attrs")|attrs_dict %}
                    <aggregation type="joinExisting" dimName="{{ agg_dim_name }}">
                        {% for store in subset %}
                        {% set time = store.variables|selectattr("name", "eq", agg_dim_name)|first %}
                        {% set time_attrs = time.attrs|attrs_dict %}
                        <netcdf location="{{ store.name }}" ncoords="{{ store.variables|selectattr('name', 'eq', agg_dim_name)|first|attr('dimensions')|selectattr('index', 'eq', 0)|first|attr('size') }}">
                            {% if time_attrs["units"] != reference_attrs["units"] or time_attrs["calendar"] != reference_attrs["calendar"] %}
                            <variable name="{{ time.name }}">
                                <attribute name="units" value="{{ reference_attrs['units'] }}"/>
                                <attribute name="calendar" value="{{ reference_attrs['calendar'] }}"/>
                                <values>{{ collector.read_variable(store.name, agg_dim_name)|convert_times(time_attrs["units"], time_attrs["calendar"], reference_attrs["units"], reference_attrs["calendar"])|list|map("string")|join(" ") }}</values>
                            </variable>
                            {% endif %}
                        </netcdf>
                    {% endfor %}
                    </aggregation>
                </netcdf>
            {% endif %}
            {% endfor %}
            </aggregation>
        </netcdf>
        {% endfor %}
    </aggregation>
</netcdf>
